.container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.infoMovie {
  border-radius: 10px;

  width: 80%;
  display: flex;

  background-color: var(--light-secondary);
}

.movieContent {
  background-color: var(--light-secondary);
  width: 100%;
  padding: 1em;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageMovie {
  border-radius: 7px;

  width: 100%;
  max-width: 300px;
  height: auto;
}

.movieOverview {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

.moviePopularity {
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.moviePopularity text {
  background-color: transparent;
  margin-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.cancelarButton {
  background-color: #b71c1c;
  width: 100%;
  margin-top: 15px;
  padding: 5px;
  color: white;
  border: 0 none;
  border-radius: 5px;
}

.movieLink {
  background-color: var(--light-secondary);
  width: 100%;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 993px) {
  .infoMovie {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    margin-top: 25em;
    padding-top: 3em;
  }

  .container {
    overflow-y: scroll;
    padding: 5em;
  }

  .moviePopularity {
    display: flex;
    flex-direction: column;
  }
}
