.cardMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 7px;
  padding: 2em;
  margin: 2em;

  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--light-secondary);
  cursor: default;
}

.cardMovie h1 {
  background-color: var(--light-secondary);
}

.poster {
  border-radius: 7px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.hate {
  margin-top: 10px;
  display: flex;
  background-color: var(--light-secondary);
}

.hating {
  background-color: transparent;
  margin: 5px;
  color: yellow;
}

.cardMovie .label {
  margin-top: 15px;
}

.details {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--light-secondary);
  width: 100%;
  margin-top: 15px;
  padding: 5px;
  color: white;
  border: 0 none;
  border-radius: 5px;
  background-color: #43a047;
  font-weight: 800;
}

.details:hover {
  background-color: #3b8b3f;
}

.title {
  text-align: center;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 1201px) {
  .title {
    font-size: 20px;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .title {
    font-size: 20px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .title {
    font-size: 16px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .title {
    font-size: 25px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 576px) {
  .title {
    font-size: 25px;
  }
}
