@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #6f0000;
  --color-background: #061f2c;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #061f2c;
}

.teimoso {
  text-decoration: none;
  color: white;
}
.teimoso:hover {
  text-decoration: none;
  color: white;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}